{
  "openapi": "3.1.0",
  "info": {
    "title": "ORESTAR observed public read surface (reconstructed)",
    "version": "2026-09-27.2",
    "description": "Unofficial research contract from public HTML, forms, scripts and network observations. Not exhaustive or vendor-supported. Unresolved workflows remain in the catalogue."
  },
  "servers": [
    {
      "url": "https://secure.sos.state.or.us"
    }
  ],
  "paths": {
    "/orestar/ajaxdataserver/getCandidateElectionByYear": {
      "get": {
        "summary": "Observed public UI route: /orestar/ajaxdataserver/getCandidateElectionByYear",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "get__orestar_ajaxdataserver_getCandidateElectionByYear",
        "parameters": [
          {
            "name": "elecYear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "response-observed",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/xml; charset=UTF-8"
          },
          {
            "status": 200,
            "contentType": "text/html"
          },
          {
            "status": 200,
            "contentType": "text/html"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do",
            "kind": "network-response",
            "query": [
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getCandidateElectionByYear?elecYear=2026"
          },
          {
            "source": "local-archive:candidate-dependent-options.html",
            "kind": "public-script-parameter-template",
            "query": [
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getCandidateElectionByYear",
            "parameterTemplate": "elecYear={cfyearActive}",
            "sourceSha256": "e7cf2986aa3aa8b303efa9d9d7c2b6d08b380d9b3059f167f8d6988d7ad3e7d4"
          },
          {
            "source": "local-archive:candidate-filings.html",
            "kind": "public-script-parameter-template",
            "query": [
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getCandidateElectionByYear",
            "parameterTemplate": "elecYear={cfyearActive}",
            "sourceSha256": "36b864d7f8b82360f4313dba68ccfee9561b51d2b379197d9b3977a52b4d9d02"
          },
          {
            "source": "local-archive:candidate-search-contract.html",
            "kind": "public-script-parameter-template",
            "query": [
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getCandidateElectionByYear",
            "parameterTemplate": "elecYear={cfyearActive}",
            "sourceSha256": "c83b92e5d8d224b601704401049fcd7f4b11e7173bce6ad754d6588338fe46fa"
          }
        ],
        "x-session-stateful": true
      }
    },
    "/orestar/ajaxdataserver/getCFOfficeGrpsByElection": {
      "get": {
        "summary": "Observed public UI route: /orestar/ajaxdataserver/getCFOfficeGrpsByElection",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "get__orestar_ajaxdataserver_getCFOfficeGrpsByElection",
        "parameters": [
          {
            "name": "elecRsn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elecYear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "response-observed",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/html"
          },
          {
            "status": 200,
            "contentType": "text/html"
          },
          {
            "status": 200,
            "contentType": "text/html"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do",
            "kind": "network-response",
            "query": [
              "elecRsn",
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getCFOfficeGrpsByElection?elecRsn=-1&elecYear=2026"
          },
          {
            "source": "local-archive:candidate-dependent-options.html",
            "kind": "public-script-parameter-template",
            "query": [
              "elecRsn",
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getCFOfficeGrpsByElection",
            "parameterTemplate": "elecRsn=-1,elecYear={cfyearActive}",
            "sourceSha256": "e7cf2986aa3aa8b303efa9d9d7c2b6d08b380d9b3059f167f8d6988d7ad3e7d4"
          },
          {
            "source": "local-archive:candidate-filings.html",
            "kind": "public-script-parameter-template",
            "query": [
              "elecRsn",
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getCFOfficeGrpsByElection",
            "parameterTemplate": "elecRsn=-1,elecYear={cfyearActive}",
            "sourceSha256": "36b864d7f8b82360f4313dba68ccfee9561b51d2b379197d9b3977a52b4d9d02"
          },
          {
            "source": "local-archive:candidate-search-contract.html",
            "kind": "public-script-parameter-template",
            "query": [
              "elecRsn",
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getCFOfficeGrpsByElection",
            "parameterTemplate": "elecRsn=-1,elecYear={cfyearActive}",
            "sourceSha256": "c83b92e5d8d224b601704401049fcd7f4b11e7173bce6ad754d6588338fe46fa"
          }
        ],
        "x-session-stateful": true
      }
    },
    "/orestar/ajaxdataserver/getLocalMeasureElectionByYear": {
      "get": {
        "summary": "Observed public UI route: /orestar/ajaxdataserver/getLocalMeasureElectionByYear",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "get__orestar_ajaxdataserver_getLocalMeasureElectionByYear",
        "parameters": [
          {
            "name": "elecYear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "response-observed",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/xml; charset=UTF-8"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoLocalMeasSearch.do",
            "kind": "network-response",
            "query": [
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getLocalMeasureElectionByYear?elecYear=2026"
          },
          {
            "source": "local-archive:local-measures.html",
            "kind": "public-script-parameter-template",
            "query": [
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getLocalMeasureElectionByYear",
            "parameterTemplate": "elecYear=",
            "sourceSha256": "8c5adaa01d3b69bbb004de8832c1d596738845900590740072c16ca0038bdd02"
          },
          {
            "source": "local-archive:measure-dependent-options.html",
            "kind": "public-script-parameter-template",
            "query": [
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getLocalMeasureElectionByYear",
            "parameterTemplate": "elecYear=",
            "sourceSha256": "4893f3e6706ed1944c42dd9e4948acf7a8fe50844e47906ce31661d6ad26b08d"
          },
          {
            "source": "local-archive:measure-search-contract.html",
            "kind": "public-script-parameter-template",
            "query": [
              "elecYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getLocalMeasureElectionByYear",
            "parameterTemplate": "elecYear=",
            "sourceSha256": "ed8ca6bf049ad93abb7b45a6fed8a1180727a4524c8eda99ffd89bed2fcc7dd4"
          }
        ],
        "x-session-stateful": true
      }
    },
    "/orestar/ajaxdataserver/getLocalMeasureNumber": {
      "get": {
        "summary": "Observed public UI route: /orestar/ajaxdataserver/getLocalMeasureNumber",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "get__orestar_ajaxdataserver_getLocalMeasureNumber",
        "parameters": [
          {
            "name": "county",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elecYear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "election",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchYear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "response-observed",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/html"
          },
          {
            "status": 200,
            "contentType": "text/xml; charset=UTF-8"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoLocalMeasSearch.do",
            "kind": "network-response",
            "query": [
              "county",
              "elecYear",
              "election",
              "searchYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getLocalMeasureNumber?searchYear=2018&elecYear=2026&election=&county="
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoLocalMeasSearch.do",
            "kind": "network-response",
            "query": [
              "county",
              "elecYear",
              "election",
              "searchYear"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getLocalMeasureNumber?searchYear=2018&elecYear=2026&election=&county=26"
          },
          {
            "source": "local-archive:local-measures.html",
            "kind": "public-script-parameter-template",
            "query": [
              "searchYear",
              "elecYear",
              "election",
              "county"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getLocalMeasureNumber",
            "parameterTemplate": "searchYear={measSearchYear},elecYear={electionYear},election={election},county={county}",
            "sourceSha256": "8c5adaa01d3b69bbb004de8832c1d596738845900590740072c16ca0038bdd02"
          },
          {
            "source": "local-archive:measure-dependent-options.html",
            "kind": "public-script-parameter-template",
            "query": [
              "searchYear",
              "elecYear",
              "election",
              "county"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getLocalMeasureNumber",
            "parameterTemplate": "searchYear={measSearchYear},elecYear={electionYear},election={election},county={county}",
            "sourceSha256": "4893f3e6706ed1944c42dd9e4948acf7a8fe50844e47906ce31661d6ad26b08d"
          },
          {
            "source": "local-archive:measure-search-contract.html",
            "kind": "public-script-parameter-template",
            "query": [
              "searchYear",
              "elecYear",
              "election",
              "county"
            ],
            "example": "https://secure.sos.state.or.us/orestar/ajaxdataserver/getLocalMeasureNumber",
            "parameterTemplate": "searchYear={measSearchYear},elecYear={electionYear},election={election},county={county}",
            "sourceSha256": "ed8ca6bf049ad93abb7b45a6fed8a1180727a4524c8eda99ffd89bed2fcc7dd4"
          }
        ],
        "x-session-stateful": true
      }
    },
    "/orestar/cfFilings.do": {
      "post": {
        "summary": "Observed public UI route: /orestar/cfFilings.do",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "post__orestar_cfFilings_do",
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "cfSearchButtonName": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  },
                  "cfName": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "text"
                    ]
                  },
                  "cfyearActive": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "",
                        "label": ""
                      },
                      {
                        "value": "2026",
                        "label": "2026"
                      },
                      {
                        "value": "2024",
                        "label": "2024"
                      },
                      {
                        "value": "2022",
                        "label": "2022"
                      },
                      {
                        "value": "2020",
                        "label": "2020"
                      },
                      {
                        "value": "2018",
                        "label": "2018"
                      },
                      {
                        "value": "2016",
                        "label": "2016"
                      },
                      {
                        "value": "2014",
                        "label": "2014"
                      },
                      {
                        "value": "2012",
                        "label": "2012"
                      },
                      {
                        "value": "2011",
                        "label": "2011"
                      },
                      {
                        "value": "2010",
                        "label": "2010"
                      },
                      {
                        "value": "2008",
                        "label": "2008"
                      }
                    ]
                  },
                  "cfElection": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "",
                        "label": ""
                      },
                      {
                        "value": "-1",
                        "label": ""
                      }
                    ]
                  },
                  "cfOffice": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "",
                        "label": ""
                      },
                      {
                        "value": "AG",
                        "label": "Attorney General"
                      },
                      {
                        "value": "BOLI",
                        "label": "Commissioner of the Bureau of Labor and Industries"
                      },
                      {
                        "value": "DA",
                        "label": "District Attorney"
                      },
                      {
                        "value": "GOV",
                        "label": "Governor"
                      },
                      {
                        "value": "JCC",
                        "label": "Judge of the Circuit Court"
                      },
                      {
                        "value": "JCA",
                        "label": "Judge of the Court of Appeals"
                      },
                      {
                        "value": "JTC",
                        "label": "Judge of the Oregon Tax Court"
                      },
                      {
                        "value": "JSC",
                        "label": "Judge of the Supreme Court"
                      },
                      {
                        "value": "USP",
                        "label": "President"
                      },
                      {
                        "value": "SOS",
                        "label": "Secretary of State"
                      },
                      {
                        "value": "SR",
                        "label": "State Representative"
                      },
                      {
                        "value": "SS",
                        "label": "State Senator"
                      },
                      {
                        "value": "TR",
                        "label": "State Treasurer"
                      },
                      {
                        "value": "SPI",
                        "label": "Superintendent of Public Instruction"
                      },
                      {
                        "value": "USR",
                        "label": "US Representative"
                      },
                      {
                        "value": "USS",
                        "label": "US Senator"
                      },
                      {
                        "value": "UVP",
                        "label": "Vice President"
                      }
                    ]
                  },
                  "cfOfficeGrp": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ]
                  },
                  "cfPartyAffiliation": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "",
                        "label": ""
                      },
                      {
                        "value": "AME",
                        "label": "Americans Elect"
                      },
                      {
                        "value": "APC",
                        "label": "All People Count"
                      },
                      {
                        "value": "CON",
                        "label": "Constitution"
                      },
                      {
                        "value": "DEM",
                        "label": "Democrat"
                      },
                      {
                        "value": "FSP",
                        "label": "Freedom Socialist"
                      },
                      {
                        "value": "IND",
                        "label": "Independent"
                      },
                      {
                        "value": "LBT",
                        "label": "Libertarian"
                      },
                      {
                        "value": "NAV",
                        "label": "Nonaffiliated"
                      },
                      {
                        "value": "NLB",
                        "label": "No Labels"
                      },
                      {
                        "value": "NLP",
                        "label": "Natural Law"
                      },
                      {
                        "value": "NP",
                        "label": "Nonpartisan"
                      },
                      {
                        "value": "NST",
                        "label": "No Sales Tax"
                      },
                      {
                        "value": "PEA",
                        "label": "Peace"
                      },
                      {
                        "value": "PGP",
                        "label": "Pacific Green"
                      },
                      {
                        "value": "PRO",
                        "label": "Progressive"
                      },
                      {
                        "value": "REF",
                        "label": "Reform"
                      },
                      {
                        "value": "REP",
                        "label": "Republican"
                      },
                      {
                        "value": "SOC",
                        "label": "Socialist"
                      },
                      {
                        "value": "UST",
                        "label": "Us Taxpayers"
                      },
                      {
                        "value": "WFP",
                        "label": "Working Families"
                      },
                      {
                        "value": "WTP",
                        "label": "We The People"
                      },
                      {
                        "value": "YAM",
                        "label": "Party of Yamhill County"
                      }
                    ]
                  },
                  "cfDisqualifiedCandidates": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "checkbox"
                    ]
                  },
                  "cfFilingType": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "",
                        "label": ""
                      },
                      {
                        "value": "ASS",
                        "label": "Assembly"
                      },
                      {
                        "value": "NPA",
                        "label": "Auto Nominated"
                      },
                      {
                        "value": "PET",
                        "label": "Completed Petitions"
                      },
                      {
                        "value": "FEE",
                        "label": "Fee"
                      },
                      {
                        "value": "MPP",
                        "label": "Minor Party"
                      },
                      {
                        "value": "NOM",
                        "label": "Nominated"
                      },
                      {
                        "value": "PET1",
                        "label": "Prospective Petitions"
                      },
                      {
                        "value": "SEL",
                        "label": "Selected by Secretary of State"
                      },
                      {
                        "value": "VAC",
                        "label": "Vacancy"
                      },
                      {
                        "value": "WI",
                        "label": "Write In"
                      }
                    ]
                  },
                  "cfFilingFromDate": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "text"
                    ]
                  },
                  "cfFilingToDate": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "text"
                    ]
                  },
                  "cfWithDrawFromDate": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "text"
                    ]
                  },
                  "cfWithDrawToDate": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "text"
                    ]
                  },
                  "OWASP_CSRFTOKEN": {
                    "type": "string",
                    "description": "Fresh token from the same anonymous session; do not replay saved values.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "response-observed",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/html"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "html-form",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/cfFilings.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do",
            "kind": "html-form",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/cfFilings.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do",
            "kind": "network-response",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/cfFilings.do"
          }
        ],
        "x-session-stateful": true
      }
    },
    "/orestar/CFSearchPage.do": {
      "get": {
        "summary": "Observed public UI route: /orestar/CFSearchPage.do",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "get__orestar_CFSearchPage_do",
        "parameters": [
          {
            "name": "OWASP_CSRFTOKEN",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "page-loaded",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/html"
          },
          {
            "status": 200,
            "contentType": "text/html; charset=UTF-8"
          },
          {
            "status": 200,
            "contentType": "text/html"
          },
          {
            "status": 200,
            "contentType": "text/html; charset=UTF-8"
          },
          {
            "status": 200,
            "contentType": "text/html"
          },
          {
            "status": 200,
            "contentType": "text/html; charset=UTF-8"
          },
          {
            "status": 200,
            "contentType": "text/html"
          },
          {
            "status": 200,
            "contentType": "text/html; charset=UTF-8"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/GotoSearchByName.do",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/GotoSearchByElection.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/GotoSearchByMnP.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoPublicTransactionSearch.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoPublicCertificateSearch.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoPublicCertificateSearch.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "network-response",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "network-response",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "loaded-page",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE#"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoLocalMeasSearch.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/sooDetail.do?sooRsn=3486&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/personAssocitedCommittee.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/electionActivityLog.do?actionId=PageLoad&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/committeeSearchSOOHistory.do?committeeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/publicAccountSummary.do?filerId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/publicAccountSummary.do",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoPublicTransactionDetail.do?tranRsn=5819678&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoPublicTransactionDetail.do?tranRsn=5819678&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "network-response",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do",
            "kind": "network-response",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do",
            "kind": "loaded-page",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do",
            "kind": "anchor",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do#"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CFSearchPage.do",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "about:blank",
            "kind": "network-response",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoPublicCertificateSearch.do",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do?srtOrder=&by=&cneCertificateSearchButtonName=&yearSelected=2026&search=Submit&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoLocalMeasSearch.do",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/LocalMeasures.do",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN"
            ],
            "example": "https://secure.sos.state.or.us/orestar/CFSearchPage.do?OWASP_CSRFTOKEN=SESSION_VALUE"
          }
        ],
        "x-session-stateful": true
      }
    },
    "/orestar/cneCertificateSearch.do": {
      "get": {
        "summary": "Observed public UI route: /orestar/cneCertificateSearch.do",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "get__orestar_cneCertificateSearch_do",
        "parameters": [
          {
            "name": "OWASP_CSRFTOKEN",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Fresh token from the same anonymous session; do not replay saved values.",
              "x-observed-control-types": [
                "hidden"
              ]
            }
          },
          {
            "name": "by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
              "x-observed-control-types": [
                "hidden"
              ]
            }
          },
          {
            "name": "cneCertificateSearchButtonName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
              "x-observed-control-types": [
                "hidden"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
              "x-observed-control-types": [
                "submit"
              ]
            }
          },
          {
            "name": "srtOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
              "x-observed-control-types": [
                "hidden"
              ]
            }
          },
          {
            "name": "yearSelected",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
              "x-observed-control-types": [
                "select-one"
              ],
              "x-observed-options": [
                {
                  "value": "2026",
                  "label": "2026"
                },
                {
                  "value": "2025",
                  "label": "2025"
                },
                {
                  "value": "2024",
                  "label": "2024"
                },
                {
                  "value": "2023",
                  "label": "2023"
                },
                {
                  "value": "2022",
                  "label": "2022"
                },
                {
                  "value": "2021",
                  "label": "2021"
                },
                {
                  "value": "2020",
                  "label": "2020"
                },
                {
                  "value": "2019",
                  "label": "2019"
                },
                {
                  "value": "2018",
                  "label": "2018"
                },
                {
                  "value": "2017",
                  "label": "2017"
                },
                {
                  "value": "2016",
                  "label": "2016"
                },
                {
                  "value": "2015",
                  "label": "2015"
                },
                {
                  "value": "2014",
                  "label": "2014"
                },
                {
                  "value": "2013",
                  "label": "2013"
                },
                {
                  "value": "2012",
                  "label": "2012"
                },
                {
                  "value": "2011",
                  "label": "2011"
                },
                {
                  "value": "2010",
                  "label": "2010"
                },
                {
                  "value": "2009",
                  "label": "2009"
                },
                {
                  "value": "2008",
                  "label": "2008"
                },
                {
                  "value": "2007",
                  "label": "2007"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "page-loaded",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/html; charset=UTF-8"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoPublicCertificateSearch.do?OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "html-form",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoPublicCertificateSearch.do",
            "kind": "html-form",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/gotoPublicCertificateSearch.do",
            "kind": "network-response",
            "query": [
              "OWASP_CSRFTOKEN",
              "by",
              "cneCertificateSearchButtonName",
              "search",
              "srtOrder",
              "yearSelected"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do?srtOrder=&by=&cneCertificateSearchButtonName=&yearSelected=2026&search=Submit&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do?srtOrder=&by=&cneCertificateSearchButtonName=&yearSelected=2026&search=Submit&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "loaded-page",
            "query": [
              "OWASP_CSRFTOKEN",
              "by",
              "cneCertificateSearchButtonName",
              "search",
              "srtOrder",
              "yearSelected"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do?srtOrder=&by=&cneCertificateSearchButtonName=&yearSelected=2026&search=Submit&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do?srtOrder=&by=&cneCertificateSearchButtonName=&yearSelected=2026&search=Submit&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "html-form",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do?srtOrder=&by=&cneCertificateSearchButtonName=&yearSelected=2026&search=Submit&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "by",
              "cneCertificateSearchButtonName",
              "search",
              "srtOrder",
              "yearSelected"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneCertificateSearch.do?srtOrder=&by=&cneCertificateSearchButtonName=&yearSelected=2026&search=Submit&OWASP_CSRFTOKEN=SESSION_VALUE#"
          }
        ],
        "x-session-stateful": true
      }
    },
    "/orestar/cneSearch.do": {
      "get": {
        "summary": "Observed public UI route: /orestar/cneSearch.do",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "get__orestar_cneSearch_do",
        "parameters": [
          {
            "name": "OWASP_CSRFTOKEN",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchButtonName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchFilerCommitteeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchContributorTxt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchContributorTxtSearchType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchContributorType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchFilerCommitteeRsn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchFilerCommitteeTxt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchFilerCommitteeTxtSearchType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchTranAmountFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchTranAmountTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchTranEndDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchTranStartDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cneSearchTranType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "page-loaded",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/html; charset=UTF-8"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchFilerCommitteeId"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/sooDetail.do?sooRsn=3486&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchFilerCommitteeId"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/publicAccountSummary.do",
            "kind": "network-response",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchFilerCommitteeId"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "loaded-page",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchFilerCommitteeId"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchFilerCommitteeId"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE#"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchContributorTxt",
              "cneSearchContributorTxtSearchType",
              "cneSearchContributorType",
              "cneSearchFilerCommitteeRsn",
              "cneSearchFilerCommitteeTxt",
              "cneSearchFilerCommitteeTxtSearchType",
              "cneSearchTranAmountFrom",
              "cneSearchTranAmountTo",
              "cneSearchTranEndDate",
              "cneSearchTranStartDate",
              "cneSearchTranType",
              "search"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeRsn=56757&cneSearchFilerCommitteeTxt=&cneSearchFilerCommitteeTxtSearchType=C&cneSearchTranStartDate=&cneSearchTranEndDate=&cneSearchTranType=&cneSearchTranAmountFrom=&cneSearchTranAmountTo=&cneSearchContributorTxt=&cneSearchContributorTxtSearchType=C&cneSearchContributorType=&search=Search&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchContributorTxt",
              "cneSearchContributorTxtSearchType",
              "cneSearchContributorType",
              "cneSearchFilerCommitteeRsn",
              "cneSearchFilerCommitteeTxt",
              "cneSearchFilerCommitteeTxtSearchType",
              "cneSearchTranAmountFrom",
              "cneSearchTranAmountTo",
              "cneSearchTranEndDate",
              "cneSearchTranStartDate",
              "cneSearchTranType",
              "search"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeRsn=60392&cneSearchFilerCommitteeTxt=&cneSearchFilerCommitteeTxtSearchType=C&cneSearchTranStartDate=&cneSearchTranEndDate=&cneSearchTranType=&cneSearchTranAmountFrom=&cneSearchTranAmountTo=&cneSearchContributorTxt=&cneSearchContributorTxtSearchType=C&cneSearchContributorType=&search=Search&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchContributorTxt",
              "cneSearchContributorTxtSearchType",
              "cneSearchContributorType",
              "cneSearchFilerCommitteeRsn",
              "cneSearchFilerCommitteeTxt",
              "cneSearchFilerCommitteeTxtSearchType",
              "cneSearchTranAmountFrom",
              "cneSearchTranAmountTo",
              "cneSearchTranEndDate",
              "cneSearchTranStartDate",
              "cneSearchTranType",
              "search"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeRsn=63696&cneSearchFilerCommitteeTxt=&cneSearchFilerCommitteeTxtSearchType=C&cneSearchTranStartDate=&cneSearchTranEndDate=&cneSearchTranType=&cneSearchTranAmountFrom=&cneSearchTranAmountTo=&cneSearchContributorTxt=&cneSearchContributorTxtSearchType=C&cneSearchContributorType=&search=Search&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchContributorTxt",
              "cneSearchContributorTxtSearchType",
              "cneSearchContributorType",
              "cneSearchFilerCommitteeRsn",
              "cneSearchFilerCommitteeTxt",
              "cneSearchFilerCommitteeTxtSearchType",
              "cneSearchTranAmountFrom",
              "cneSearchTranAmountTo",
              "cneSearchTranEndDate",
              "cneSearchTranStartDate",
              "cneSearchTranType",
              "search"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeRsn=57066&cneSearchFilerCommitteeTxt=&cneSearchFilerCommitteeTxtSearchType=C&cneSearchTranStartDate=&cneSearchTranEndDate=&cneSearchTranType=&cneSearchTranAmountFrom=&cneSearchTranAmountTo=&cneSearchContributorTxt=&cneSearchContributorTxtSearchType=C&cneSearchContributorType=&search=Search&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchContributorTxt",
              "cneSearchContributorTxtSearchType",
              "cneSearchContributorType",
              "cneSearchFilerCommitteeRsn",
              "cneSearchFilerCommitteeTxt",
              "cneSearchFilerCommitteeTxtSearchType",
              "cneSearchTranAmountFrom",
              "cneSearchTranAmountTo",
              "cneSearchTranEndDate",
              "cneSearchTranStartDate",
              "cneSearchTranType",
              "search"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeRsn=64076&cneSearchFilerCommitteeTxt=&cneSearchFilerCommitteeTxtSearchType=C&cneSearchTranStartDate=&cneSearchTranEndDate=&cneSearchTranType=&cneSearchTranAmountFrom=&cneSearchTranAmountTo=&cneSearchContributorTxt=&cneSearchContributorTxtSearchType=C&cneSearchContributorType=&search=Search&OWASP_CSRFTOKEN=SESSION_VALUE"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeId=3865&OWASP_CSRFTOKEN=SESSION_VALUE",
            "kind": "anchor",
            "query": [
              "OWASP_CSRFTOKEN",
              "cneSearchButtonName",
              "cneSearchContributorTxt",
              "cneSearchContributorTxtSearchType",
              "cneSearchContributorType",
              "cneSearchFilerCommitteeRsn",
              "cneSearchFilerCommitteeTxt",
              "cneSearchFilerCommitteeTxtSearchType",
              "cneSearchTranAmountFrom",
              "cneSearchTranAmountTo",
              "cneSearchTranEndDate",
              "cneSearchTranStartDate",
              "cneSearchTranType",
              "search"
            ],
            "example": "https://secure.sos.state.or.us/orestar/cneSearch.do?cneSearchButtonName=search&cneSearchFilerCommitteeRsn=63536&cneSearchFilerCommitteeTxt=&cneSearchFilerCommitteeTxtSearchType=C&cneSearchTranStartDate=&cneSearchTranEndDate=&cneSearchTranType=&cneSearchTranAmountFrom=&cneSearchTranAmountTo=&cneSearchContributorTxt=&cneSearchContributorTxtSearchType=C&cneSearchContributorType=&search=Search&OWASP_CSRFTOKEN=SESSION_VALUE"
          }
        ],
        "x-session-stateful": true
      }
    },
    "/orestar/CommitteeSearchFirstPage.do": {
      "post": {
        "summary": "Observed public UI route: /orestar/CommitteeSearchFirstPage.do",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "post__orestar_CommitteeSearchFirstPage_do",
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "buttonName": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  },
                  "page": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  },
                  "committeeName": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "text"
                    ]
                  },
                  "committeeNameMultiboxText": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "contains",
                        "label": "Contains text entered"
                      },
                      {
                        "value": "starts",
                        "label": "Starts with"
                      }
                    ]
                  },
                  "committeeId": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "text"
                    ]
                  },
                  "person": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ],
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "checkbox"
                    ],
                    "x-repeated-name": true
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "text"
                    ]
                  },
                  "firstNameMultiboxText": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "contains",
                        "label": "Contains text entered"
                      },
                      {
                        "value": "starts",
                        "label": "Starts with"
                      }
                    ]
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "text"
                    ]
                  },
                  "lastNameMultiboxText": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "contains",
                        "label": "Contains text entered"
                      },
                      {
                        "value": "starts",
                        "label": "Starts with"
                      }
                    ]
                  },
                  "discontinuedSOO": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ],
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "checkbox",
                      "hidden"
                    ],
                    "x-repeated-name": true
                  },
                  "submit": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "submit"
                    ]
                  },
                  "approvedSOO": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  },
                  "pendingApprovalSOO": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  },
                  "insufficientSOO": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  },
                  "resolvedSOO": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  },
                  "rejectedSOO": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  },
                  "OWASP_CSRFTOKEN": {
                    "type": "string",
                    "description": "Fresh token from the same anonymous session; do not replay saved values.",
                    "x-observed-control-types": [
                      "hidden"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "page-loaded",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/html;charset=utf-8"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/GotoSearchByName.do",
            "kind": "html-form",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/GotoSearchByName.do",
            "kind": "network-response",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do",
            "kind": "loaded-page",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do",
            "kind": "anchor",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do#"
          }
        ],
        "x-session-stateful": true
      },
      "get": {
        "summary": "Observed public UI route: /orestar/CommitteeSearchFirstPage.do",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "get__orestar_CommitteeSearchFirstPage_do",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected public response; validate page identity and complete content before using it.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-verification": "page-loaded",
        "x-observed-responses": [
          {
            "status": 200,
            "contentType": "text/html;charset=utf-8"
          }
        ],
        "x-evidence": [
          {
            "source": "https://secure.sos.state.or.us/orestar/GotoSearchByName.do",
            "kind": "html-form",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/GotoSearchByName.do",
            "kind": "network-response",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do",
            "kind": "loaded-page",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do"
          },
          {
            "source": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do",
            "kind": "anchor",
            "query": [],
            "example": "https://secure.sos.state.or.us/orestar/CommitteeSearchFirstPage.do#"
          }
        ],
        "x-session-stateful": true
      }
    },
    "/orestar/CommitteeSearchSecondPage.do": {
      "post": {
        "summary": "Observed public UI route: /orestar/CommitteeSearchSecondPage.do",
        "description": "Reconstructed web-interface contract, not an official JSON API. Session state and CSRF may apply. Read public content only; do not submit filings. HTTP 200 may contain an incomplete/error page.",
        "operationId": "post__orestar_CommitteeSearchSecondPage_do",
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "yearActive": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "",
                        "label": ""
                      },
                      {
                        "value": "2030",
                        "label": "2030"
                      },
                      {
                        "value": "2029",
                        "label": "2029"
                      },
                      {
                        "value": "2028",
                        "label": "2028"
                      },
                      {
                        "value": "2027",
                        "label": "2027"
                      },
                      {
                        "value": "2026",
                        "label": "2026"
                      },
                      {
                        "value": "2025",
                        "label": "2025"
                      },
                      {
                        "value": "2024",
                        "label": "2024"
                      },
                      {
                        "value": "2023",
                        "label": "2023"
                      },
                      {
                        "value": "2022",
                        "label": "2022"
                      },
                      {
                        "value": "2021",
                        "label": "2021"
                      },
                      {
                        "value": "2020",
                        "label": "2020"
                      },
                      {
                        "value": "2019",
                        "label": "2019"
                      },
                      {
                        "value": "2018",
                        "label": "2018"
                      },
                      {
                        "value": "2017",
                        "label": "2017"
                      },
                      {
                        "value": "2016",
                        "label": "2016"
                      },
                      {
                        "value": "2015",
                        "label": "2015"
                      },
                      {
                        "value": "2014",
                        "label": "2014"
                      },
                      {
                        "value": "2013",
                        "label": "2013"
                      },
                      {
                        "value": "2012",
                        "label": "2012"
                      },
                      {
                        "value": "2011",
                        "label": "2011"
                      },
                      {
                        "value": "2010",
                        "label": "2010"
                      },
                      {
                        "value": "2009",
                        "label": "2009"
                      },
                      {
                        "value": "2008",
                        "label": "2008"
                      },
                      {
                        "value": "2007",
                        "label": "2007"
                      },
                      {
                        "value": "2006",
                        "label": "2006"
                      },
                      {
                        "value": "2005",
                        "label": "2005"
                      },
                      {
                        "value": "2004",
                        "label": "2004"
                      },
                      {
                        "value": "2003",
                        "label": "2003"
                      },
                      {
                        "value": "2002",
                        "label": "2002"
                      },
                      {
                        "value": "2001",
                        "label": "2001"
                      },
                      {
                        "value": "2000",
                        "label": "2000"
                      },
                      {
                        "value": "1999",
                        "label": "1999"
                      },
                      {
                        "value": "1998",
                        "label": "1998"
                      },
                      {
                        "value": "1997",
                        "label": "1997"
                      },
                      {
                        "value": "1996",
                        "label": "1996"
                      },
                      {
                        "value": "1995",
                        "label": "1995"
                      },
                      {
                        "value": "1994",
                        "label": "1994"
                      },
                      {
                        "value": "1993",
                        "label": "1993"
                      },
                      {
                        "value": "1992",
                        "label": "1992"
                      },
                      {
                        "value": "1991",
                        "label": "1991"
                      },
                      {
                        "value": "1990",
                        "label": "1990"
                      },
                      {
                        "value": "1989",
                        "label": "1989"
                      }
                    ]
                  },
                  "election": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ]
                  },
                  "filerType": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "",
                        "label": ""
                      },
                      {
                        "value": "CANDALL",
                        "label": "Candidate Committee (All)"
                      },
                      {
                        "value": "CPCALL",
                        "label": "Petition Committee (All)"
                      },
                      {
                        "value": "CPCINIT",
                        "label": "Petition Committee - Initiative"
                      },
                      {
                        "value": "CPCRC",
                        "label": "Petition Committee - Recall"
                      },
                      {
                        "value": "CPCREF",
                        "label": "Petition Committee - Referendum"
                      },
                      {
                        "value": "PACALL",
                        "label": "Political Action Committee (All)"
                      },
                      {
                        "value": "PACCAUC",
                        "label": "Political Action Committee - Caucus"
                      },
                      {
                        "value": "PACMEAS",
                        "label": "Political Action Committee - Measure"
                      },
                      {
                        "value": "PACMISC",
                        "label": "Political Action Committee - Miscellaneous"
                      },
                      {
                        "value": "PACPP",
                        "label": "Political Action Committee - Political Party"
                      },
                      {
                        "value": "PACRC",
                        "label": "Political Action Committee - Recall"
                      }
                    ]
                  },
                  "committeeOffice": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "",
                        "label": ""
                      },
                      {
                        "value": "AG",
                        "label": "Attorney General"
                      },
                      {
                        "value": "BM",
                        "label": "Board Member"
                      },
                      {
                        "value": "CBCC",
                        "label": "Chair of the Board of County Commissioners"
                      },
                      {
                        "value": "CTYA",
                        "label": "City Auditor"
                      },
                      {
                        "value": "CTYC",
                        "label": "City Commissioner"
                      },
                      {
                        "value": "CC",
                        "label": "City Councilor"
                      },
                      {
                        "value": "CTYR",
                        "label": "City Recorder"
                      },
                      {
                        "value": "CM",
                        "label": "Commissioner"
                      },
                      {
                        "value": "BOLI",
                        "label": "Commissioner of the Bureau of Labor and Industries"
                      },
                      {
                        "value": "CAS",
                        "label": "County Assessor"
                      },
                      {
                        "value": "CAU",
                        "label": "County Auditor"
                      },
                      {
                        "value": "CCL",
                        "label": "County Clerk"
                      },
                      {
                        "value": "CCM",
                        "label": "County Commissioner"
                      },
                      {
                        "value": "CJ",
                        "label": "County Judge"
                      },
                      {
                        "value": "CLC",
                        "label": "County Legal Counsel"
                      },
                      {
                        "value": "SH",
                        "label": "County Sheriff"
                      },
                      {
                        "value": "CS",
                        "label": "County Surveyor"
                      },
                      {
                        "value": "CTC",
                        "label": "County Tax Collector"
                      },
                      {
                        "value": "CT",
                        "label": "County Treasurer"
                      },
                      {
                        "value": "DIR",
                        "label": "Director"
                      },
                      {
                        "value": "DA",
                        "label": "District Attorney"
                      },
                      {
                        "value": "GOV",
                        "label": "Governor"
                      },
                      {
                        "value": "JCC",
                        "label": "Judge of the Circuit Court"
                      },
                      {
                        "value": "JCA",
                        "label": "Judge of the Court of Appeals"
                      },
                      {
                        "value": "JDC",
                        "label": "Judge of the District Court"
                      },
                      {
                        "value": "JTC",
                        "label": "Judge of the Oregon Tax Court"
                      },
                      {
                        "value": "JSC",
                        "label": "Judge of the Supreme Court"
                      },
                      {
                        "value": "JP",
                        "label": "Justice of the Peace"
                      },
                      {
                        "value": "MYR",
                        "label": "Mayor"
                      },
                      {
                        "value": "MA",
                        "label": "Metro Auditor"
                      },
                      {
                        "value": "MCP",
                        "label": "Metro Council President"
                      },
                      {
                        "value": "MC",
                        "label": "Metro Councilor"
                      },
                      {
                        "value": "MJ",
                        "label": "Municipal Judge"
                      },
                      {
                        "value": "BOL2",
                        "label": "Pre 1998-Partisan-Commissioner of the Bureau of Labor and Industries"
                      },
                      {
                        "value": "SOS",
                        "label": "Secretary of State"
                      },
                      {
                        "value": "SR",
                        "label": "State Representative"
                      },
                      {
                        "value": "SS",
                        "label": "State Senator"
                      },
                      {
                        "value": "TR",
                        "label": "State Treasurer"
                      },
                      {
                        "value": "SPI",
                        "label": "Superintendent of Public Instruction"
                      }
                    ]
                  },
                  "locationLevel": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ]
                  },
                  "partyAffiliation": {
                    "type": "string",
                    "description": "Observed public-form control. Disabled controls, submit action and dependent selections affect the payload. Server requirements are not fully established.",
                    "x-observed-control-types": [
                      "select-one"
                    ],
                    "x-observed-options": [
                      {
                        "value": "",
                        "label": ""
                      },
                      {
                        "value": "AME",
                        "label": "Americans Elect"
                      },
                      {
                        "value": "APC",
                        "label": "All People Count"
                      },
                      {
                        "value": "CON",
                        "label": "Constitution"
                      },
                      {
                        "value": "DEM",
                        "label": "Democrat"
                      },
                      {
                        "value": "FSP",
                        "label": "Freedom Socialist"
                      },
                      {
                        "value": "IND",
                        "label": "Independent"
                      },
                      {
                        "value": "LBT",
                        "label": "Libertarian"
                      },
                      {
                        "value": "NAV",
                        "label": "Nonaffiliated"
                      },
                      {
                        "value": "NLB",
                        "label": "No Labels"
                      },
                      {
                        "value": "NLP",
                        "label": "Natural Law"
                      },
                      {
                        "value": "NP",
                        "label": "Nonpartisan"
                      },
                      {
                        "value": "NST",
                        "label": "No Sales Tax"
                      },
                      {
                        "value": "PEA",
                        "label": "Peace"
                      },
                      {
                        "value": "PGP",
                        "label": "Pacific Green"
                      },
                      {
                        "value": "PRO",
                        "label": "Progressive"
                      },
                      {
                        "value": "REF",
                        "label": "Reform"
                      },
                      {
                        "value": "REP",
                        "label": "Republican"
                      },
                      {
                        "value": "SOC",
                        "label": "Socialist"
                      },
                      {
                        "value": "UST",
                        "label": "Us Taxpayers"
                      },
                      {
                        "value": "WFP",
                        "label": "Working Families"
                      },
                      {
                        "value": "WTP",
                        "label": "We The People"
                      },
                      {
                        "value": "YAM",
                        "label": "Party of Yamhill County"
[...]
